
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f9;
}
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #021521;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}
#toggle-theme {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #555f0c;
  color: rgb(243, 245, 245);
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001;
}

.topnav nav {
  display: flex;
  gap: 1.5rem;
}
.topnav a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.topnav a:hover {
  color: #094b2c;
}
main {
  margin-top: 80px;
  padding: 100;
}
.section {
  padding: 4rem 2rem;
  min-height: 100vh;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 background: linear-gradient(135deg,#3fb584,#d3db6a);
  color: rgb(122, 10, 51);
  text-align: center;
  position: relative;
  padding: 20px 30px;
   border-radius: 40px;
  font-size:2.2rem;
  margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  scroll-margin-top:80px;
  padding-bottom: 100px;
  
}.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero span {
  color: #ffe600;
}
.presented-by {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
  font-style: italic;
}
.intro h2 {
  font-size: 2.5rem;
  text-align:left;
  color: lab(65.49% -10.55 65.18 / 0.973);
  text-decoration: bold;
  text-decoration: underline;
} 
html{ 
scroll-behavior: smooth;
scroll-padding-top: 90px;
scroll-padding-bottom:50px;
  
}
 .hero {
  padding: 40px 10px;
  margin-top: 40px;
  background: linear-gradient to left(135deg, #341783 ,#1f0b79b2);
  text-align: left;
   margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
  scroll-margin-top:10px;
  padding-top: 20px;
  min-height: 80vh;
  padding-bottom: 5px;;
  
 }
  .hero h2{
    text-align: left;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    color: #ffffff;
  background: linear-gradient(135deg,#43cea2,#185a9d);
  margin-left: 40px;
  
  
}
  .hero p{
    margin-bottom: 20px;
  font-size: 1.2rem;
  color: hsl(0, 0%, 4%);
  margin-left: 60px;
  
  }
.hero-images {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:20px 60px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.hero-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  

}

.hero-img:hover {
  transform: scale(1.05);
   border-radius: 50%;
  transition: all 1s ease-in-out;
}

.skills  {
   padding: 30px 30px;
  margin-bottom: 80px;
  margin-top: 30px;
  background: linear-gradient(135deg,#3fb584,#d3db6a);
   margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
  min-height: 80vh;
  scroll-margin-top:10px; 
  
}

.skills h2 {
   text-align: center;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    color: #ffffff;
  background: linear-gradient(135deg,#43cea2,#185a9d);
  margin-left: 40px;
  
}

.skills p{ 
  text-align: left;
  font-size: 1.2rem;
  color: hsl(0, 0%, 4%);
  margin-bottom: 20px;
  margin-left:60px;

}

.projects {
   padding: 30px 30px;
  margin-bottom: 80px;
  margin-top: 30px;
   background: linear-gradient(135deg,#3fb584,#d3db6a);
   margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
  min-height: 80vh;
  scroll-margin-top:10px; 
}
.projects h2{
    text-align: center;
    max-width: 400px;
    margin-bottom: 30px;
    padding: 10px;
    color: #ffffff;
  background: linear-gradient(135deg,#43cea2,#185a9d);
  margin-left:40px;

}
.projects p {
  text-align: left;
  font-size: 1.2rem;
  color: hsl(0, 0%, 4%);
  margin-bottom: 5px;
  margin-left:60px;
}
.projects ul {
  text-align: left;
  font-size: 1.2rem;
  color: hsl(0, 0%, 4%);
  margin-bottom: 5px;
  margin-left:60px;
}

.contact {
  padding: 30px 30px;
  margin-bottom: 80px;
  margin-top: 30px;
  background: linear-gradient(135deg,#3fb584,#d3db6a);
   margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
  min-height: 80vh;
  scroll-margin-top:10px; 
}
  .contact h2{ 
    text-align: center;
    max-width: 400px;
    margin-bottom: 30px;
    padding: 10px;
    color: #ffffff;
   background: linear-gradient(135deg,#43cea2,#185a9d);
  margin-left:40px;
  }
  .contact p {
    text-align: left;
  font-size: 1.2rem;
  color: hsl(0, 0%, 4%);
  margin-bottom: 5px;
  margin-left:60px;
  }
.contact ul {
  text-align: left;
  font-size: 1.2rem;
  color: hsl(0, 0%, 4%);
  margin-bottom: 5px;
  margin-left:60px;
} 
  

footer {
  background: #030e1a;
  color: rgb(205, 204, 204);
  text-align: center;
  padding: 1rem;
}
